@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .catalog__cards {
        max-width: 620px;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 40px;
        text-align: center;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }
    
    .header__nav-logo {
        height: 45px;
        width: 149px;
    }

    .header__menu {
        display: flex;
        position: relative;
    }

    .header__menu:focus.header__menu span {
        background: transparent;
        border: 2px solid var(--white);
    }
    
    .header__list {
        position: absolute;
        top: 112px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: transparent;
        width: 200px;
        height: 300px;
        z-index: 3;
        transform: translateX(-200%);
        transition: 600ms linear;
    }
    
    .header__menu:focus~.header__list {
        transform: translateX(0);
        background: rgba(255, 255, 255, 0.395);
        transition: 600ms linear;
    }

    .header__link {
        position: static;
    }
    
    .header__link::after {
        bottom: unset;
        transform: translate(60px, 20px);
    }
    
    .header__link:hover::after {
        width: 80px;
    }

    .about-us__content {
        display: flex;
        flex-direction: column;
    }

    .about-us__img {
        margin-bottom: 20px;
        margin-right: unset;
    }

    .catalog__cards {
        column-gap: 20px;
    }

}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: 100%;
    }
    
    .header__nav .container {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .header__nav-logo {
        height: 45px;
        margin-right: 10px;
        margin-left: 20px;
    }

    .header__menu {
        margin-right: 28px;
    }

    .header__list {
        position: absolute;
        top: 167px;
    }

    .header__content {
        text-align: center;
    }

    .header__title {
        font-size: 70px;
    }

    .header__desc {
        font-size: 30px;
    }

    .header__banner-btn {
        padding: 14px 68px;
    }

    .paragraphs {
        text-align: center;
    }

    .catalog__cards {
        flex-direction: column;
        align-items: center;
    }

    .catalog__card-block {
        height: 297px;
    }

    .contacts {
        text-align: center;
    }

    .contacts__title {
        margin-bottom: 15px;
    }

    .contacts__content {
        flex-direction: column;
    }

    .contacts__content-desc {
        margin-bottom: 30px;
    }

    .footer__content {
        row-gap: 35px;
    }

}