@import url(fonts.css);

:root {
    --white: #fff;
    --black: #000;
    --hover: #B4436C;
    --common: #3E8989;
    --placeholder: #898989;
    --card-bg: #EFEFEF;
    --inter-sb: 'Inter_SemiBold';
    --rubik-r: 'Rubik_Regular';
    --rubik-m: 'Rubik_Medium';
    --rubik-sb: 'Rubik_SemiBold'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    user-select: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.desc {
    font-family: var(--rubik-r);
    font-size: 18px;
    line-height: 21px;
    color: var(--black);
}

.title {
    font-family: var(--inter-sb);
    font-size: 40px;
    line-height: 48px;
    color: var(--common);
}

.lists {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    max-width: 263px;
    width: 100%;
}

.links {
    font-family: var(--rubik-m);
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
}

.header__nav {
    background: var(--common);
    padding: 33px 0;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    display: flex;
    align-self: center;
}

.header__menu {
    width: 50px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    background: transparent;
    border: none;
    display: none;
}

.header__menu span {
    display: block;
    width: 100%;
    height: 8px;
    background: var(--white);
    border-radius: 10px;
    transition: 600ms linear;

}

.header__link {
    padding: 5px 0 5px;
    position: relative;
}

.header__link::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background: var(--white);
    border-radius: 5px;
    transition: 500ms;
}

.header__link:hover::after {
    width: 100%;
}

.header__form {
    display: flex;
    max-width: 290px;
    width: 100%;
    height: 35px;
}

.header__input {
    background: var(--white);
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 8px 0 8px 20px;
    max-width: 216px;
    width: 100%;
    outline: none;
}

::placeholder {
    font-family: var(--rubik-r);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--placeholder);
}

.header__form-btn {
    padding: 9px 14px;
    border: none;
    background: #295E5E;
    border-radius: 0px 20px 20px 0px;
    font-family: var(--rubik-r);
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}

.header__img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.header__content {
    position: relative;
}

.header__content .container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__title {
    font-family: var(--rubik-sb);
    font-size: 80px;
    line-height: 95px;
    color: var(--white);
    margin-bottom: 20px;
}

.header__desc {
    font-family: var(--rubik-m);
    font-size: 40px;
    line-height: 47px;
    color: var(--white);
    margin-bottom: 50px;
}

.header__banner-btn {
    padding: 14px 78px;
    font-family: var(--inter-sb);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    background: var(--hover);
    border-radius: 30px;
    transition: 500ms;
}

.header__banner-btn:hover {
    background: var(--white);
    border-radius: 30px;
    font-family: var(--inter-sb);
    font-size: 18px;
    line-height: 22px;
    color: var(--hover);
}

.about-us .container {
    text-align: center;
}

.about-us__title {
    margin: 88px auto 50px;
}

.about-us__content {
    display: flex;
}

.about-us__img {
    margin-right: 20px;
    object-fit: cover;
}

.paragraphs {
    text-align: left;
    padding-top: 9px;
}

.about-us__desc {
    margin-bottom: 20px;
}

.catalog {
    margin-top: 80px;
}

.catalog__title {
    text-align: center;
    margin-bottom: 53px;
}

.catalog__cards {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.catalog__cards .card {
    max-width: 263px;
    width: 100%;
}

.catalog__card-block {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 300px;
    height: 100%;
    background: var(--card-bg);
}

.catalog__card-desc {
    text-align: center;
    margin-top: 30px;
    font-family: var(--inter-sb);
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
    transition: 500ms;
}

.catalog__card-desc:hover {
    color: var(--hover);
}

.contacts {
    margin: 100px auto 104px;

}

.contacts__title {
    margin-bottom: 50px;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
}

.contacts__content-desc {
    font-size: 20px;
    line-height: 24px;
    max-width: 555px;
    width: 100%;
}

.contacts__content-desc:first-child {
    margin-bottom: 20px;
}

.footer__content {
    display: flex;
    align-items: center;
    row-gap: 59px;
    flex-direction: column;
    background: var(--common);
    padding: 40px 0 15px;
}

.footer__link {
    transition: 500ms;
}

.footer__link:hover

/* не по макету! а просто для красоты */
    {
    color: var(--hover);
}

.footer__block {
    display: flex;
    column-gap: 6px;
}

.footer__block .desc {
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}